#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1.2
Type=Application
Exec=/usr/bin/ncmt
Name=Netease-tui
Icon=/usr/share/netease-music-tui/ncmt.png
Terminal=true
